{:paths
 ["src" "resources"]

 :deps
 {org.clojure/core.logic {:mvn/version "1.0.0"}
  com.databricks/databricks-jdbc {:mvn/version "2.6.27"}}

 :aliases
 {;; work on the driver locally with clojure -M:build
  :dev
  {:extra-deps {metabase/metabase-core       {:local/root "../metabase"}
                ;; com.github.metabase/metabase {:git/sha "57c7bbe618d7bd573494be18bda6e1d5a6846e2b"}
                }}

  ;; clojure -X:dev:build
  :build
  {:extra-deps {metabase/build-drivers {:local/root "../metabase/bin/build-drivers"}}
   :exec-fn    build-drivers.build-driver/build-driver!
   :exec-args  {:driver      :sparksql-databricks
                :project-dir "."
                :target-dir  "./target"}}}}